:root {
   --background: #efefef;
   --secondBackground: #f8f8f8;

   --gray-100: #e6e9f0;
   --gray-200: #cdd3e1;
   --gray-300: #aab3cc;
   --gray-400: #555f7d;
   --gray-500: #454f6a;
   --gray-600: #363d56;
   --gray-700: #272f43;
   --gray-800: #181f2e;
   --gray-900: #0a0f1a;

   --primary-light: #c084fc;
   --primary: #9333ea;
   --primary-dark: #6817af;

   --text-over-primary: #0a0f1a;
   --text-over-primary-dark: #e6e9f0;
   --text-over-primary-light: #0a0f1a;

   --text-default: #0a0f1a;
   --text-muted: #272f43;

   --link-hover: #7e22ce;
   --link-color: #9333ea;

   --disabled: #555f7d;
   --text-disabled: #aab3cc;

   --success: #22c55e;
   --action: #0d82e2;
   --warning: #eab308;
   --error: #d00c0c;
   --info: #f755dc;

   --out-hover: #fe39391b;
   --action-hover: #260de2;
   --negative-action-hover: #a40000;
}