.cardViewHeader {
   background-color: var(--secondBackground);
   width: 100%;
   height: 7rem;
   box-shadow: 0 1px 2px var(--gray-300);
   padding: 1rem 35rem 1rem 25rem;

   display: flex;
   align-items: center;
}

.deckName {
   display: flex;
   align-items: center;
   justify-content: center;

   margin: auto;
}

.deckText {
   color: var(--text-default);
   text-align: center;
   font-size: 2rem;

   display: flex;
   align-items: start;
   justify-content: center;
}

.return {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

   gap: 1rem;

   color: var(--disabled);

   height: 10rem;
}

svg {
   width: 2rem;
   height: 2rem;
}