.homeHeader {
   display: flex;
   align-items: center;
   gap: 2rem;
   padding-right: 1rem;
}

.buttonCard {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 0.3rem;

   padding: 1rem;
   border-radius: 1rem;
   text-decoration: none;

   color: var(--text-over-primary-dark);
   background-color: var(--primary);
}

.buttonCardAI {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;

   padding: 1rem;
   border-radius: 1rem;
   text-decoration: none;

   color: var(--text-over-primary-dark);
   background: linear-gradient(135deg, var(--primary), var(--info));

   background-size: 200% 200%;
   background-position: left;
}

.buttonOut {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;

   padding: 1rem 2rem;
   border-radius: 1rem;

   font-size: 1.5rem;
   text-decoration: none;
   color: var(--error);


}

svg {
   width: 2rem;
   height: 2rem;
}

.buttonCard:hover {
   background-color: var(--primary-dark);
   transition: all 0.2s;
}

.buttonCardAI:hover {
   transition: background-position 0.2s;
   background-position: right;
}

.buttonOut:hover {
   background-color: var(--out-hover);
   transition: all 0.2s;
}