.homeHeader {
   display: flex;
   align-items: center;
   gap: 2rem;
   padding-right: 1rem;
}

.buttonCard {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 0.3rem;

   padding: 1rem;
   border-radius: 1rem;
   text-decoration: none;

   color: var(--text-over-primary);
   background-color: var(--primary);

   height: 5rem;

   border: none;
   width: 11rem;
}

.buttonCardAI {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;

   padding: 1rem;
   border-radius: 1rem;
   text-decoration: none;

   color: var(--text-over-primary);
   background: linear-gradient(135deg, var(--primary), var(--info));

   background-size: 200% 200%;
   background-position: left;

   height: 5rem;
   width: 11rem;

   border: none;
}

.buttonOut {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3rem;

   padding: 1rem 2rem;
   border-radius: 1rem;

   font-size: 1.5rem;
   text-decoration: none;
   color: var(--error);

   height: 5rem;
   width: 6rem;

   border: none;
}

.homeHeader svg {
   width: 2rem;
   height: 2rem;
}

.buttonCard:hover {
   background-color: var(--action);
   cursor: pointer;
   transition: all 0.2s;
   color: var(--text-over-primary-dark);
   font-weight: 600;
}

.buttonCardAI:hover {
   transition: all 0.2s;
   cursor: pointer;
   background: linear-gradient(135deg, var(--action), var(--info));
   color: var(--text-over-primary-dark);
   font-weight: 600;
}

.buttonOut:hover {
   background-color: var(--out-hover);
   cursor: pointer;
   transition: all 0.2s;
   font-weight: 600;
}