.defaultHeader {
   background-color: var(--secondBackground);
   width: 100%;
   height: 7rem;
   box-shadow: 0 1px 2px var(--gray-300);
   padding: 1rem 2rem 1rem 5rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
}