.header {
  width: 100%;
  height: 7rem;
  box-shadow: 0 2px 6px var(--gray-300);
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  /*padding-top: 3.2rem;*/
}

.logoLink {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem;
  font-size: 3rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(50%);
}

/*.logoLink svg {
  width: 5.0rem;
  height: 5.0rem;
}*/